@using Movie.UI.Pages.Directors
@using Movie.UI.Pages.Films
@using Movie.UI.Pages.Genres
@page "/{Route}"
<h3>@Route</h3>

@if (Route == Routes.Directors)
{
    <DirectorsPortal />
}

@if (Route == Routes.Films)
{
    <FilmsPortal />
}




@code {
    [Parameter] public string Route { get; set; } = string.Empty;
}
